@model HomeWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
</head>
<body>
    <partial name="SideNavPartial"/>
    <div class="dashboard_main">
        <div class="dashboard_header">
            <div class="icon">
                <h3><i class="fas fa-pen-fancy"></i>Job</h3>
                <h4>Hello, @Model.TheUser.Username</h4>
            </div> 
        </div>
        <div class="dashboard_job_number">
            <div class="job_number_board">
                <p class="job_number_board-type">Applied</p>
                <p class="job_num">
                @Model.JobList.Where(j => j.JobStatus == "Applied").Count()
                </p>
            </div>
            <div class="job_number_board">
                <p class="job_number_board-type">Interview</p>
                <p class="job_num">
                @Model.JobList.Where(j => j.JobStatus == "Interviewed").Count()
                </p>
            </div>
        </div>
        <div class="dashboard_job">
            @if(Model.JobList == null || Model.JobList.Count == 0)
            {
                <div class="job_card">
                    <h5>Your job list is empty</h5>
                    <h5>Create your job list now</h5>
                    <a asp-action="AddJob" asp-controller="Home" asp-route-UserId="@ViewBag.Id">+ &nbsp; Add Job</a>
                </div>
            } else {
                @foreach(Job job in Model.JobList)
                {
                    <div class="job_card">
                        <div class="dashboard_job_jobCard">
                            <h5>@job.CompanyName</h5>
                            <p class="job_title">@job.JobTitle</p>
                            <p class="jobCard_status">@job.JobStatus</p>
                            <a asp-action="EditJod" asp-controller="Home" asp-route-id="@job.JobId">Edit</a>
                            <a asp-action="DeleteJob" asp-controller="Home" asp-route-id="@job.JobId">Delete</a>
                        </div>
                    </div>
                }
            }
        </div>
        
    </div>
</body>
</html>