@model HomeWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
</head>
<body>
    <partial name="SideNavPartial"/>
    <div class="dashboard_main">
        <div class="dashboard_header">
            <h1 class="middle">Job</h1>
            @* <div class="icon">
                <h3><i class="fas fa-pen-fancy"></i>UApplied</h3>
            </div> *@
                @* <h3>Hello, @Model.Username</h3> *@
        </div>
        <div class="dashboard_job_number">
            <div>
                <p name="numOfInterestedJob"></p>
                <p>Interested</p>
                @foreach(Job j in Model.JobList)
                    {
                        var count = 0;
                        if(j.JobStatus == "Interested")
                        {
                            count++;
                        }
                        <p class="job_num">@count</p>
                    }
            </div>
            <div>
                <p name="numOfAppliedJob"></p>
                <p>Applied</p>
                @foreach(Job j in Model.JobList)
                    {
                        var count = 0;
                        if(j.JobStatus == "Applied")
                        {
                            count++;
                        }
                        <p class="job_num">@count</p>
                    }
            </div>
            <div>
                <p name="numOfInterviewJob"></p>
                <p>Interview</p>
                @foreach(Job j in Model.JobList)
                    {
                        var count = 0;
                        if(j.JobStatus == "Interview")
                        {
                            count++;
                        }
                        <p class="job_num">@count</p>
                    }
            </div>
        </div>
        <div class="dashboard_job">
            <div class="job_card">
                @if(Model.JobList != null)
                {
                    @foreach(Job job in Model.JobList)
                    {
                        <div class="dashboard_job_jobCard">
                            <h5>@job.CompanyName</h5>
                            <p>@job.JobTitle</p>
                            <p class="jobCard_status">@job.JobStatus</p>
                        </div>
                    }
                }
            </div>
        </div>
        
    </div>
</body>
</html>